node_modules
dist
dist-ssr
*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.suo

# Logs
*.log
npm-debug.log*

# Env
.env
.env.local
.env.*.local

# Test artifacts
coverage
playwright-report
test-results
